<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GraphViewDbConnectionString"
        connectionString="Data Source=(local);Integrated Security=True;Database=graphview"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
