<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GraphViewDbConnectionString"
        connectionString="Data Source=4QQBZX12;Integrated Security=True;Database=graph"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>