<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BatchAccountName" value="" />
    <add key="BatchAccountKey" value="" />
    <add key="BatchAccountUrl" value="" />
    <add key="StorageAccountName" value="" />
    <add key="StorageAccountKey" value="" />
    <add key="DocDBEndPoint" value="" />
    <add key="DocDBKey" value="" />
    <add key="DocDBDatabaseId" value="" />
    <add key="DocDBCollectionId" value="" />
  </appSettings>
</configuration>