<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <appSettings>
    <add key="BatchAccountName" value="" />
    <add key="BatchAccountKey" value="" />
    <add key="BatchAccountUrl" value="" />
    
    <add key="StorageAccountName" value="" />
    <add key="StorageAccountKey" value="" />
    
    <add key="DocDBEndPoint" value="" />
    <add key="DocDBKey" value="" />
    <add key="DocDBDatabaseId" value="" />
    <add key="DocDBCollectionId-TwitterLists" value="TwitterLists" />
  </appSettings>
</configuration>