<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true" />
    <Thread_UseAllCpuGroups enabled="true" />
    <GCCpuGroup enabled="true" />
  </runtime>
  <startup>
    <!-- 4.5 and later should work, use the one targeted -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>